@import 'config/module';
@import 'base/module';
@import 'utils/module';
@import 'components/module';
@import 'builder/module';
@import 'documentation/module';
@import 'vendor/module';

.darkside > * {
  filter: invert(100%);
}

.newsletter {
  text-align: center;
}

body {
  @include bp($bp-mobile) {
    font-size: 16px;

    h1 { font-size: 2.827em; }

    h2 { font-size: 1.999em; }

    h3 { font-size: 1.414em; }
  }
}
