@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Barlow:500,800|Roboto");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.66;
  color: #262626;
  background-color: #fefefe; }

a {
  color: #262626;
  text-decoration: underline; }
  a:hover {
    text-decoration: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5em;
  font-family: 'Barlow', sans-serif;
  font-weight: 800;
  line-height: 1.3; }

h1 {
  font-size: 3.998em;
  line-height: 1.1; }

h2 {
  font-size: 2.827em;
  line-height: 1.2; }

h3 {
  font-size: 1.999em; }

h4 {
  font-size: 1.414em; }

h5,
h6 {
  font-weight: 600;
  font-size: 1em; }

p {
  margin-bottom: 1em; }

small {
  font-size: 0.85em; }

ul,
ol {
  list-style-position: inside;
  margin-bottom: 1em; }

blockquote {
  padding-left: 1em;
  border-left: 6px solid #ddd;
  font-size: 1.414em;
  color: #666; }

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1em; }
  table th,
  table td {
    padding: 0.5em;
    text-align: left; }
  table tr {
    border-bottom: 1px solid #ddd; }

.align-center {
  text-align: center; }

.btn-primary,
.btn-secondary,
.btn-success,
.btn-danger,
.btn-default,
.btn-text {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 0;
  margin: 0;
  padding: 0;
  background: transparent;
  text-decoration: none;
  padding: 0.75em 1em;
  font-size: 16px;
  font-weight: 600;
  margin-right: 0.5em;
  border-width: 1px;
  border-style: solid;
  color: #fff;
  transition: all 0.3s ease-in-out;
  box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  cursor: pointer; }
  .btn-primary.lg,
  .btn-secondary.lg,
  .btn-success.lg,
  .btn-danger.lg,
  .btn-default.lg,
  .btn-text.lg {
    font-size: 20px; }

.btn-primary {
  border-color: #000;
  background-color: #000; }
  .btn-primary.invert {
    border-color: #fff;
    background-color: #fff;
    color: #000; }

.btn-secondary {
  border-color: #000;
  color: #000; }
  .btn-secondary.invert {
    border-color: #fff;
    color: #fff; }

.btn-text {
  padding: 0.25em 0;
  color: #262626;
  border-color: transparent;
  border: 0;
  border-bottom: 2px solid #262626;
  border-radius: 0;
  box-shadow: none; }

.form-group {
  margin-bottom: 1em; }
  .form-group input[type='text'],
  .form-group input[type='email'],
  .form-group textarea,
  .form-group select {
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 0.75em 1em;
    outline: none;
    font-size: 16px;
    border: 2px solid #aaa;
    border-radius: 0; }
    .form-group input[type='text']:focus,
    .form-group input[type='email']:focus,
    .form-group textarea:focus,
    .form-group select:focus {
      border-color: #262626; }
  .form-group select {
    background-position: right 0.5em center;
    background-repeat: no-repeat;
    background-size: 24px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJmZWF0aGVyIGZlYXRoZXItY2hldnJvbi1kb3duIj48cG9seWxpbmUgcG9pbnRzPSI2IDkgMTIgMTUgMTggOSI+PC9wb2x5bGluZT48L3N2Zz4=); }

.has-error .form-label {
  color: #d00; }

.has-error input[type='text'],
.has-error input[type='email'],
.has-error textarea,
.has-error select {
  border-color: #d00; }

.has-error .error-text {
  font-size: 0.85em;
  color: #d00; }

.form-label {
  display: inline-block;
  width: auto;
  font-size: 0.75em;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer; }

.form-control {
  display: block;
  width: 100%; }

.checkbox input {
  display: inline-block;
  margin-right: 0.5em; }

.radio-group label {
  display: block;
  margin-bottom: 0.5em;
  font-weight: 500; }

.radio-group input {
  position: relative;
  top: -0.25em;
  display: inline-block;
  margin-right: 0.5em; }

@supports not (display: grid) {
  .grid, #debug {
    display: flex;
    justify-content: space-between; } }

@supports not (display: grid) {
  .full-width {
    width: 100%; } }

@supports not (display: grid) {
  .half {
    width: 48.936170212766%; }
    .half:first-child {
      margin-right: 20px; } }

@supports not (display: grid) {
  .third {
    width: 31.914893617021%;
    margin-right: 20px; }
    .third:last-child {
      margin-right: 0; } }

@supports not (display: grid) {
  .fourth {
    width: 23.404255319149%;
    margin-right: 20px; }
    .fourth:last-child {
      margin-right: 0; } }

@supports not (display: grid) {
  .eight {
    width: 65.957446808511%;
    margin-right: 20px; }
    .eight:last-child {
      margin-right: 0; } }

@supports not (display: grid) {
  .shift-2, .text {
    width: 65.957446808511%;
    margin: 0 auto; } }

@supports not (display: grid) {
  .shift-3, .single-image.inset {
    width: 48.936170212766%;
    margin: 0 auto; } }

.container, #debug {
  width: 100%;
  padding: 0 10px; }
  @media (min-width: 940px) {
    .container, #debug {
      width: 960px;
      margin: 0 auto; } }

@supports (display: grid) {
  .grid, #debug {
    display: grid;
    grid-template-columns: repeat(4, [col-start] 1fr);
    grid-gap: 20px; }
    @media (min-width: 940px) {
      .grid, #debug {
        grid-template-columns: repeat(12, [col-start] 1fr); } } }

@supports (display: grid) {
  .full-width {
    grid-column: span 4; }
    @media (min-width: 940px) {
      .full-width {
        grid-column: span 12; } } }

@supports (display: grid) {
  .half {
    grid-column: span 4; }
    @media (min-width: 780px) {
      .half {
        grid-column: span 2; } }
    @media (min-width: 940px) {
      .half {
        grid-column: span 6; } } }

@supports (display: grid) {
  .third {
    grid-column: span 4; }
    @media (min-width: 780px) {
      .third {
        grid-column: span 2; } }
    @media (min-width: 940px) {
      .third {
        grid-column: span 4; } } }

@supports (display: grid) {
  .fourth {
    grid-column: span 4; }
    @media (min-width: 780px) {
      .fourth {
        grid-column: span 2; } }
    @media (min-width: 940px) {
      .fourth {
        grid-column: span 3; } } }

@supports (display: grid) {
  .eight {
    grid-column: span 4; }
    @media (min-width: 780px) {
      .eight {
        grid-column: span 4; } }
    @media (min-width: 940px) {
      .eight {
        grid-column: span 8; } } }

@supports (display: grid) {
  .shift-1, .quote, .article-list {
    grid-column: span 4; }
    @media (min-width: 940px) {
      .shift-1, .quote, .article-list {
        grid-column: 2 / span 10; } } }

@supports (display: grid) {
  .shift-2, .text {
    grid-column: span 4; }
    @media (min-width: 940px) {
      .shift-2, .text {
        grid-column: 3 / span 8; } } }

@supports (display: grid) {
  .shift-3, .single-image.inset {
    grid-column: span 4; }
    @media (min-width: 940px) {
      .shift-3, .single-image.inset {
        grid-column: 4 / span 6; } } }

.grid img, #debug img {
  display: block;
  width: 100%; }

#debug {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  margin: 0 auto;
  pointer-events: none; }
  #debug .col {
    grid-column: span 1;
    background-color: rgba(255, 0, 0, 0.25); }
    #debug .col:nth-child(n + 5) {
      display: none; }
    @media (min-width: 940px) {
      #debug .col:nth-child(n + 5) {
        display: block; } }
  #debug.debug-on {
    display: grid; }

.article-title {
  padding: 4em 0 2em;
  text-align: center; }
  .article-title h1 {
    line-height: 1.1; }
  .article-title .meta {
    margin-bottom: 2.5em;
    font-size: 0.85em;
    font-weight: 400; }

.lead-image {
  position: relative;
  color: #000;
  text-align: center; }
  .lead-image .bg-image img {
    display: block;
    width: 100%; }
  .lead-image .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    z-index: 0; }
  .lead-image .content-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    padding: 4em 0; }
    .lead-image .content-container.align-top {
      align-items: flex-start; }
    .lead-image .content-container.align-center {
      align-items: center; }
    .lead-image .content-container.align-bottom {
      align-items: flex-end; }
  .lead-image p {
    padding-bottom: 0; }
  .lead-image h1 {
    margin-bottom: 0.5em;
    font-size: 2.827em; }
  .lead-image .logo {
    display: block;
    width: 350px;
    margin: 0 auto;
    margin-bottom: 1em; }
  .lead-image .headings {
    margin-bottom: 3em;
    grid-column: span 8; }
  .lead-image.height-min {
    height: 200px;
    overflow: hidden; }
  .lead-image.height-small {
    height: 300px;
    overflow: hidden; }
  .lead-image.height-medium {
    height: 500px;
    overflow: hidden; }
  .lead-image.height-large {
    max-height: 100vh;
    overflow: hidden; }
  @media (max-width: 939px) {
    .lead-image .bg-image img:first-child {
      display: block; }
    .lead-image .bg-image img:last-child {
      display: none; } }
  @media (min-width: 940px) {
    .lead-image .bg-image img:first-child {
      display: none; }
    .lead-image .bg-image img:last-child {
      display: block; } }

.masonry {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 100vh;
  align-items: flex-start;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: -4px;
  margin-right: -4px;
  width: 100%; }
  .masonry .masonry-item {
    width: 33.3%;
    margin: 4px; }
    .masonry .masonry-item img {
      display: block;
      max-width: 100%; }

.quote {
  position: relative; }
  .quote:before {
    content: '“';
    position: absolute;
    top: -0.3em;
    left: -0.65em;
    font-family: 'Barlow', serif;
    font-size: 10em;
    color: #000;
    opacity: 0.1;
    z-index: 1; }
  .quote blockquote {
    position: relative;
    padding: 0;
    border: 0;
    font-family: 'Roboto', serif;
    font-size: 16px;
    font-weight: 300;
    color: #000;
    z-index: 2; }
  .quote p {
    margin-bottom: 0.25em;
    font-size: 1.999em;
    line-height: 1.4; }
  .quote .author {
    font-size: 1.414em;
    font-weight: 300;
    color: #aaa; }

.section-title {
  position: relative;
  text-align: center; }
  .section-title h2 {
    position: relative;
    font-size: 1.999em;
    line-height: 1;
    z-index: 2; }

.single-image img {
  display: block;
  max-width: 100%;
  margin-bottom: 0.25em; }

.single-image figcaption {
  font-size: 0.85em;
  color: #888; }

.text p:last-child,
.text ul:last-child,
.text ol:last-child {
  margin-bottom: 0; }

.video .video-wrapper {
  width: 100%;
  position: relative; }
  .video .video-wrapper:before {
    display: block;
    content: '';
    width: 100%;
    padding-top: 56.25%; }
  .video .video-wrapper > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%; }
  .video .video-wrapper iframe {
    width: 100%;
    height: 100%; }

.page-title {
  padding: 2em 0;
  text-align: center; }
  .page-title h1 {
    font-size: 2.827em;
    margin-bottom: 0; }
  .page-title h2 {
    margin-top: 1em;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: #888; }

.breadcrumbs {
  font-size: 0.75em;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-transform: uppercase; }
  .breadcrumbs span {
    color: #888; }
  .breadcrumbs a {
    padding-right: 0.25em;
    margin-right: 0.25em;
    text-decoration: none; }
    .breadcrumbs a:after {
      content: '';
      position: relative;
      left: 0.25em;
      top: 0.2em;
      display: inline-block;
      width: 16px;
      height: 16px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJmZWF0aGVyIGZlYXRoZXItY2hldnJvbi1yaWdodCI+PHBvbHlsaW5lIHBvaW50cz0iOSAxOCAxNSAxMiA5IDYiPjwvcG9seWxpbmU+PC9zdmc+);
      opacity: 0.3; }

.navigation {
  padding: 2em 0;
  font-family: 'Roboto', sans-serif; }
  .navigation a {
    display: inline-block;
    margin-right: 2em;
    text-decoration: none;
    border-bottom: 2px solid transparent; }
    .navigation a:hover, .navigation a.current {
      border-color: #262626; }

.cards .card {
  text-decoration: none; }
  .cards .card img {
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5em;
    border-radius: 50%;
    border: 1px solid #bbb;
    vertical-align: middle;
    width: 15em;
    height: 15em; }
  .cards .card .content h4 {
    margin: 0 auto;
    margin-bottom: 0.5em;
    vertical-align: middle; }
  .cards .card .content p {
    font-size: 0.85em;
    line-height: 1.4;
    margin-bottom: 0; }

.article-list h3 {
  line-height: 1.2;
  margin-bottom: 0.5em; }
  .article-list h3 a {
    text-decoration: none; }

.article-list .meta {
  margin-bottom: 1em;
  font-size: 0.85em; }

.pagination {
  text-align: center; }
  .pagination a {
    display: inline-block;
    padding: 0.5em 1em;
    margin-right: 0.25em;
    border: 1px solid #ddd;
    border-radius: 3px;
    text-decoration: none; }
    .pagination a:hover, .pagination a.current {
      background-color: #ddd; }

.products .product {
  display: block;
  text-decoration: none;
  text-align: center; }
  .products .product img {
    margin-bottom: 0.75em; }
  .products .product .content {
    padding: 0 1em; }
    .products .product .content h4 {
      margin-bottom: 0.25em;
      font-size: 16px; }
    .products .product .content p {
      margin-bottom: 0;
      font-size: 0.85em; }
    .products .product .content .price {
      font-family: 'Merriweather', serif;
      font-weight: 900;
      color: #888; }
      .products .product .content .price.old {
        margin-right: 0.5em;
        color: #ddd;
        text-decoration: line-through; }

.product-description h1 {
  margin-bottom: 0.25em;
  font-size: 1.999em; }

.product-description .price {
  display: block;
  margin-bottom: 1em; }

.product-description .actions {
  margin: 2em 0; }

.product-description .price {
  font-family: 'Merriweather', serif;
  font-weight: 900;
  color: #888; }
  .product-description .price.old {
    margin-right: 0.5em;
    color: #ddd;
    text-decoration: line-through; }

.full-width-product {
  position: relative;
  height: 100vh;
  overflow: hidden;
  color: #fff;
  z-index: 1; }
  .full-width-product:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.15) 0%, transparent 100%);
    z-index: 3; }
  .full-width-product.invert {
    color: #262626; }
    .full-width-product.invert .price {
      color: #262626; }
  .full-width-product.right .product-description {
    right: 0;
    left: inherit; }
  .full-width-product.right:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, transparent 0%, rgba(0, 0, 0, 0.15) 100%);
    z-index: 3; }
  .full-width-product .bg-image {
    position: absolute;
    width: 100%;
    z-index: 2; }
  .full-width-product .product-description {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    padding: 4em;
    z-index: 4; }
  .full-width-product .price {
    font-size: 1.414em;
    color: #fff; }

.full-page-product .product-description {
  padding: 4em; }

.spotlight-wrapper .content {
  padding: 1em 0em; }

.spotlight-wrapper .meta {
  margin-bottom: 0.5em;
  font-size: 0.75em;
  font-weight: 500;
  text-transform: uppercase;
  color: #888; }

.site-footer {
  padding: 4em 0;
  font-size: 0.85em;
  text-align: center; }
  .site-footer .center-col a {
    text-decoration: none; }
    .site-footer .center-col a:hover {
      text-decoration: underline; }
    .site-footer .center-col a:last-child {
      margin-right: 0; }
  @media (max-width: 939px) {
    .site-footer .center-col {
      margin: 2em 0; }
      .site-footer .center-col a {
        display: block; } }
  @media (min-width: 940px) {
    .site-footer .center-col a {
      display: inline-block;
      margin-right: 2em; }
    .site-footer .footer-cols {
      display: flex;
      justify-content: space-between; } }

.slider img {
  display: block;
  width: 100%; }

.slider .slider-slide {
  width: 100%; }

.slider figure {
  position: relative; }
  .slider figure figcaption {
    position: absolute;
    right: .5em;
    bottom: .5em;
    color: rgba(255, 255, 255, 0.6); }

.slider .swiper-pagination-bullet {
  opacity: 1;
  background: rgba(0, 0, 0, 0.4); }

.slider .swiper-pagination-bullet-active {
  background: rgba(255, 255, 255, 0.6); }

.slider .swiper-button-next, .slider .swiper-button-prev {
  opacity: 0;
  transition: opacity .3s ease-in-out; }

.slider .swiper-button-next, .slider .swiper-container-rtl .swiper-button-prev {
  margin-right: 1em;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHdpZHRoPSI4cHgiIGhlaWdodD0iMTRweCIgdmlld0JveD0iMCAwIDggMTQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+ICAgICAgICA8dGl0bGU+U2hhcGU8L3RpdGxlPiAgICA8ZGVzYz5DcmVhdGVkIHdpdGggU2tldGNoLjwvZGVzYz4gICAgPGRlZnM+PC9kZWZzPiAgICA8ZyBpZD0iQXJ0Ym9hcmQiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCI+ICAgICAgICA8ZyBpZD0iY2hldnJvbi1yaWdodCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMS4wMDAwMDAsIDEuMDAwMDAwKSIgc3Ryb2tlPSIjRkZGRkZGIiBzdHJva2Utd2lkdGg9IjIiPiAgICAgICAgICAgIDxwb2x5bGluZSBpZD0iU2hhcGUiIHBvaW50cz0iMCAxMiA2IDYgMCAwIj48L3BvbHlsaW5lPiAgICAgICAgPC9nPiAgICA8L2c+PC9zdmc+); }

.slider .swiper-button-prev, .slider .swiper-container-rtl .swiper-button-next {
  margin-left: 1em;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHdpZHRoPSI4cHgiIGhlaWdodD0iMTRweCIgdmlld0JveD0iMCAwIDggMTQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+ICAgICAgICA8dGl0bGU+QXJ0Ym9hcmQ8L3RpdGxlPiAgICA8ZGVzYz5DcmVhdGVkIHdpdGggU2tldGNoLjwvZGVzYz4gICAgPGRlZnM+PC9kZWZzPiAgICA8ZyBpZD0iUGFnZS0xIiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPiAgICAgICAgPGcgaWQ9IkFydGJvYXJkIiBzdHJva2U9IiNGRkZGRkYiIHN0cm9rZS13aWR0aD0iMiI+ICAgICAgICAgICAgPGcgaWQ9ImNoZXZyb24tbGVmdCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMS4wMDAwMDAsIDEuMDAwMDAwKSI+ICAgICAgICAgICAgICAgIDxwb2x5bGluZSBpZD0iU2hhcGUiIHBvaW50cz0iNiAxMiAwIDYgNiAwIj48L3BvbHlsaW5lPiAgICAgICAgICAgIDwvZz4gICAgICAgIDwvZz4gICAgPC9nPjwvc3ZnPg==); }

@media (min-width: 940px) {
  .slider:hover .swiper-button-next, .slider:hover .swiper-button-prev {
    opacity: 1; } }

.lead-header {
  position: relative;
  padding: 4em 0 6em;
  text-align: center;
  background-color: #efefef; }
  .lead-header p {
    margin-bottom: 2.5em; }
  .lead-header .hero {
    position: relative;
    z-index: 2; }
  .lead-header .video-container {
    position: absolute;
    bottom: 0%;
    left: 0%;
    right: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 1; }
  .lead-header video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%; }
  @media (max-width: 939px) {
    .lead-header {
      background-color: #fcd846; }
      .lead-header video {
        display: none; } }

.site-header-wrapper {
  background-color: #efefef; }

.site-header {
  padding: .5em 0; }
  .site-header .logo {
    position: relative;
    top: 6px; }
    .site-header .logo img {
      height: 40px; }
  .site-header .lead-navigation {
    padding: 1em 0; }
    .site-header .lead-navigation a {
      display: inline-block;
      margin-right: 2em;
      text-decoration: none;
      font-weight: 500; }
      .site-header .lead-navigation a:last-child {
        margin-right: 0; }
  @media (max-width: 939px) {
    .site-header {
      text-align: center; } }
  @media (min-width: 940px) {
    .site-header {
      display: flex;
      justify-content: space-between; } }

.dark-bg {
  color: #fff; }

.inverted-text-bg {
  color: #fff; }
  .inverted-text-bg a {
    color: #fff; }

.yellow-bg {
  background-color: #fcd846; }

.green-bg {
  background-color: #26c9a3; }

.dark-bg {
  background-color: #262626;
  color: #fff; }

.blue-bg {
  background-color: #214e66;
  color: #fff; }

.pink-bg {
  background-color: #ef7577;
  color: #fff; }

.purple-bg {
  background-color: #544577;
  color: #fff; }

.pink-purple-bg {
  color: #fefefe;
  background: linear-gradient(to bottom, #ef7577 0%, #544577 100%); }

.yellow-pink-green-bg {
  background: linear-gradient(to bottom, #fcd846 0%, #ef7577 50%, #544577 100%); }

.pink-green-yellow-bg {
  background: linear-gradient(to bottom, #ef7577 0%, #26c9a3 50%, #fcd846 100%); }

.blue-green-yellow-bg {
  background: linear-gradient(to bottom, #214e66 0%, #26c9a3 50%, #fcd846 100%); }

.spacing-top {
  padding-top: 2em; }

.spacing-bottom {
  padding-bottom: 2em; }

.spacing-both {
  padding: 2em 0; }

.text-highlight {
  color: #0d9; }

.docs-title {
  padding: 2em 0; }
  .docs-title h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    color: #000; }

.docs-pattern {
  margin-bottom: 4em; }
  .docs-pattern:after {
    content: '';
    display: block;
    width: 300px;
    height: 4px;
    margin: 0 auto;
    background-color: #000; }
  .docs-pattern .docs-pattern-title {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #000; }
  .docs-pattern .docs-pattern-description {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #444;
    margin-bottom: 1em; }
  .docs-pattern .docs-pattern-wrapper {
    margin-bottom: 4em;
    border: 1px dotted transparent; }
    .docs-pattern .docs-pattern-wrapper:hover {
      border-color: #0d9; }

.docs-header-spacer {
  height: 90px; }

.docs-header {
  width: 100%;
  height: 90px;
  background-color: #fff;
  border-bottom: 1px solid #efefef;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 10; }
  .docs-header .container, .docs-header #debug {
    display: flex;
    justify-content: space-between; }
  .docs-header .docs-logo {
    display: block;
    text-decoration: none; }
    .docs-header .docs-logo img {
      display: block;
      height: 48px; }
    .docs-header .docs-logo small {
      font-size: 0.65em;
      color: #aaa; }
  .docs-header nav {
    padding: 0.5em; }
    .docs-header nav a {
      display: inline-block;
      margin-left: 2em;
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      text-decoration: none; }
      .docs-header nav a:hover {
        color: #0d9; }

.docs-footer {
  padding: 2em 0;
  background-color: #000;
  font-size: 0.85em;
  text-align: right;
  color: #666; }
  .docs-footer a {
    color: #fff; }

/**
 * Swiper 4.1.0
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * http://www.idangero.us/swiper/
 *
 * Copyright 2014-2018 Vladimir Kharlampidi
 *
 * Released under the MIT License
 *
 * Released on: January 13, 2018
 */
.swiper-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1; }

.swiper-container-no-flexbox .swiper-slide {
  float: left; }

.swiper-container-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

.swiper-container-android .swiper-slide,
.swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0); }

.swiper-container-multirow > .swiper-wrapper {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.swiper-container-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto; }

.swiper-slide {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform; }

.swiper-invisible-blank-slide {
  visibility: hidden; }

/* Auto Height */
.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
  height: auto; }

.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-transition-property: height, -webkit-transform;
  transition-property: height, -webkit-transform;
  -o-transition-property: transform, height;
  transition-property: transform, height;
  transition-property: transform, height, -webkit-transform; }

/* 3D Effects */
.swiper-container-3d {
  -webkit-perspective: 1200px;
  perspective: 1200px; }

.swiper-container-3d .swiper-wrapper,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-cube-shadow {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10; }

.swiper-container-3d .swiper-slide-shadow-left {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(transparent));
  background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.5), transparent);
  background-image: -o-linear-gradient(right, rgba(0, 0, 0, 0.5), transparent);
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), transparent); }

.swiper-container-3d .swiper-slide-shadow-right {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(transparent));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5), transparent);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), transparent);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent); }

.swiper-container-3d .swiper-slide-shadow-top {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(transparent));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5), transparent);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5), transparent);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent); }

.swiper-container-3d .swiper-slide-shadow-bottom {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(transparent));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), transparent);
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), transparent);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent); }

/* IE10 Windows Phone 8 Fixes */
.swiper-container-wp8-horizontal,
.swiper-container-wp8-horizontal > .swiper-wrapper {
  -ms-touch-action: pan-y;
  touch-action: pan-y; }

.swiper-container-wp8-vertical,
.swiper-container-wp8-vertical > .swiper-wrapper {
  -ms-touch-action: pan-x;
  touch-action: pan-x; }

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  width: 27px;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat; }

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none; }

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  left: 10px;
  right: auto; }

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  right: 10px;
  left: auto; }

.swiper-button-prev.swiper-button-white,
.swiper-container-rtl .swiper-button-next.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E"); }

.swiper-button-next.swiper-button-white,
.swiper-container-rtl .swiper-button-prev.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E"); }

.swiper-button-prev.swiper-button-black,
.swiper-container-rtl .swiper-button-next.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E"); }

.swiper-button-next.swiper-button-black,
.swiper-container-rtl .swiper-button-prev.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E"); }

.swiper-button-lock {
  display: none; }

.swiper-pagination {
  position: absolute;
  text-align: center;
  -webkit-transition: 300ms opacity;
  -o-transition: 300ms opacity;
  transition: 300ms opacity;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 10; }

.swiper-pagination.swiper-pagination-hidden {
  opacity: 0; }

/* Common Styles */
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 10px;
  left: 0;
  width: 100%; }

/* Bullets */
.swiper-pagination-bullets-dynamic {
  overflow: hidden;
  font-size: 0; }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  -webkit-transform: scale(0.33);
  -ms-transform: scale(0.33);
  transform: scale(0.33);
  position: relative; }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
  -webkit-transform: scale(0.66);
  -ms-transform: scale(0.66);
  transform: scale(0.66); }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
  -webkit-transform: scale(0.33);
  -ms-transform: scale(0.33);
  transform: scale(0.33); }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
  -webkit-transform: scale(0.66);
  -ms-transform: scale(0.66);
  transform: scale(0.66); }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
  -webkit-transform: scale(0.33);
  -ms-transform: scale(0.33);
  transform: scale(0.33); }

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #000;
  opacity: 0.2; }

button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer; }

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #007aff; }

.swiper-container-vertical > .swiper-pagination-bullets {
  right: 10px;
  top: 50%;
  -webkit-transform: translate3d(0px, -50%, 0);
  transform: translate3d(0px, -50%, 0); }

.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 6px 0;
  display: block; }

.swiper-container-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 8px; }

.swiper-container-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  display: inline-block;
  -webkit-transition: 200ms top, 200ms -webkit-transform;
  transition: 200ms top, 200ms -webkit-transform;
  -o-transition: 200ms transform, 200ms top;
  transition: 200ms transform, 200ms top;
  transition: 200ms transform, 200ms top, 200ms -webkit-transform; }

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 4px; }

.swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  white-space: nowrap; }

.swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  -webkit-transition: 200ms left, 200ms -webkit-transform;
  transition: 200ms left, 200ms -webkit-transform;
  -o-transition: 200ms transform, 200ms left;
  transition: 200ms transform, 200ms left;
  transition: 200ms transform, 200ms left, 200ms -webkit-transform; }

.swiper-container-horizontal.swiper-container-rtl > .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  -webkit-transition: 200ms right, 200ms -webkit-transform;
  transition: 200ms right, 200ms -webkit-transform;
  -o-transition: 200ms transform, 200ms right;
  transition: 200ms transform, 200ms right;
  transition: 200ms transform, 200ms right, 200ms -webkit-transform; }

/* Progress */
.swiper-pagination-progressbar {
  background: rgba(0, 0, 0, 0.25);
  position: absolute; }

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #007aff;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top; }

.swiper-container-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  -webkit-transform-origin: right top;
  -ms-transform-origin: right top;
  transform-origin: right top; }

.swiper-container-horizontal > .swiper-pagination-progressbar {
  width: 100%;
  height: 4px;
  left: 0;
  top: 0; }

.swiper-container-vertical > .swiper-pagination-progressbar {
  width: 4px;
  height: 100%;
  left: 0;
  top: 0; }

.swiper-pagination-white .swiper-pagination-bullet-active {
  background: #ffffff; }

.swiper-pagination-progressbar.swiper-pagination-white {
  background: rgba(255, 255, 255, 0.25); }

.swiper-pagination-progressbar.swiper-pagination-white .swiper-pagination-progressbar-fill {
  background: #ffffff; }

.swiper-pagination-black .swiper-pagination-bullet-active {
  background: #000000; }

.swiper-pagination-progressbar.swiper-pagination-black {
  background: rgba(0, 0, 0, 0.25); }

.swiper-pagination-progressbar.swiper-pagination-black .swiper-pagination-progressbar-fill {
  background: #000000; }

.swiper-pagination-lock {
  display: none; }

/* Scrollbar */
.swiper-scrollbar {
  border-radius: 10px;
  position: relative;
  -ms-touch-action: none;
  background: rgba(0, 0, 0, 0.1); }

.swiper-container-horizontal > .swiper-scrollbar {
  position: absolute;
  left: 1%;
  bottom: 3px;
  z-index: 50;
  height: 5px;
  width: 98%; }

.swiper-container-vertical > .swiper-scrollbar {
  position: absolute;
  right: 3px;
  top: 1%;
  z-index: 50;
  width: 5px;
  height: 98%; }

.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  left: 0;
  top: 0; }

.swiper-scrollbar-cursor-drag {
  cursor: move; }

.swiper-scrollbar-lock {
  display: none; }

.swiper-zoom-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center; }

.swiper-zoom-container > img,
.swiper-zoom-container > svg,
.swiper-zoom-container > canvas {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
  object-fit: contain; }

.swiper-slide-zoomed {
  cursor: move; }

/* Preloader */
.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  -webkit-transform-origin: 50%;
  -ms-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-animation: swiper-preloader-spin 1s steps(12, end) infinite;
  animation: swiper-preloader-spin 1s steps(12, end) infinite; }

.swiper-lazy-preloader:after {
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-position: 50%;
  background-size: 100%;
  background-repeat: no-repeat; }

.swiper-lazy-preloader-white:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E"); }

@-webkit-keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

/* a11y */
.swiper-container .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000; }

.swiper-container-fade.swiper-container-free-mode .swiper-slide {
  -webkit-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.swiper-container-fade .swiper-slide {
  pointer-events: none;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity; }

.swiper-container-fade .swiper-slide .swiper-slide {
  pointer-events: none; }

.swiper-container-fade .swiper-slide-active,
.swiper-container-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto; }

.swiper-container-cube {
  overflow: visible; }

.swiper-container-cube .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
  visibility: hidden;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  width: 100%;
  height: 100%; }

.swiper-container-cube .swiper-slide .swiper-slide {
  pointer-events: none; }

.swiper-container-cube.swiper-container-rtl .swiper-slide {
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0; }

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-active .swiper-slide-active {
  pointer-events: auto; }

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-next,
.swiper-container-cube .swiper-slide-prev,
.swiper-container-cube .swiper-slide-next + .swiper-slide {
  pointer-events: auto;
  visibility: visible; }

.swiper-container-cube .swiper-slide-shadow-top,
.swiper-container-cube .swiper-slide-shadow-bottom,
.swiper-container-cube .swiper-slide-shadow-left,
.swiper-container-cube .swiper-slide-shadow-right {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.swiper-container-cube .swiper-cube-shadow {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
  -webkit-filter: blur(50px);
  filter: blur(50px);
  z-index: 0; }

.swiper-container-flip {
  overflow: visible; }

.swiper-container-flip .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1; }

.swiper-container-flip .swiper-slide .swiper-slide {
  pointer-events: none; }

.swiper-container-flip .swiper-slide-active,
.swiper-container-flip .swiper-slide-active .swiper-slide-active {
  pointer-events: auto; }

.swiper-container-flip .swiper-slide-shadow-top,
.swiper-container-flip .swiper-slide-shadow-bottom,
.swiper-container-flip .swiper-slide-shadow-left,
.swiper-container-flip .swiper-slide-shadow-right {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.swiper-container-coverflow .swiper-wrapper {
  /* Windows 8 IE 10 fix */
  -ms-perspective: 1200px; }

.darkside > * {
  filter: invert(100%); }

.newsletter {
  text-align: center; }

@media (max-width: 939px) {
  body {
    font-size: 16px; }
    body h1 {
      font-size: 2.827em; }
    body h2 {
      font-size: 1.999em; }
    body h3 {
      font-size: 1.414em; } }

/*# sourceMappingURL=application.css.map */