.text-highlight {
  color: #0d9;
}

.docs-title {
  padding: 2em 0;

  h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    color: #000;
  }
}

.docs-pattern {
  margin-bottom: 4em;

  &:after {
    content: '';
    display: block;
    width: 300px;
    height: 4px;
    margin: 0 auto;
    background-color: #000;
  }

  .docs-pattern-title {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #000;
  }

  .docs-pattern-description {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #444;
    margin-bottom: 1em;
  }

  .docs-pattern-wrapper {
    margin-bottom: 4em;
    border: 1px dotted transparent;

    &:hover {
      border-color: #0d9;
    }
  }
}

.docs-header-spacer {
  height: 90px;
}

.docs-header {
  width: 100%;
  height: 90px;
  background-color: #fff;
  border-bottom: 1px solid #efefef;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 10;

  .container {
    display: flex;
    justify-content: space-between;
  }

  .docs-logo {
    display: block;
    text-decoration: none;

    img {
      display: block;
      height: 48px;
    }

    small {
      font-size: 0.65em;
      color: #aaa;
    }
  }

  nav {
    padding: 0.5em;

    a {
      display: inline-block;
      margin-left: 2em;
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      text-decoration: none;

      &:hover {
        color: #0d9;
      }
    }
  }
}

.docs-footer {
  padding: 2em 0;
  background-color: #000;
  font-size: 0.85em;
  text-align: right;
  color: #666;

  a {
    color: #fff;
  }
}
