.cards {
  .card {
    text-decoration: none;

    img {
      display: block;
      margin: 0 auto;
      margin-bottom: 0.5em;
      border-radius: 50%;
      border: 1px solid #bbb;
      vertical-align: middle;
      width: 15em;
      height: 15em;
    }

    .content {
      h4 {
        margin: 0 auto;
        margin-bottom: 0.5em;
        vertical-align: middle;
      }

      p {
        font-size: 0.85em;
        line-height: 1.4;
        margin-bottom: 0;
      }
    }
  }
}
