.lead-image {
  position: relative;
  color: #000;
  text-align: center;

  .bg-image {
    img {
      display: block;
      max-width: 100%;
    }
  }

  .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    z-index: 0;
  }

  .content-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    padding: 4em 0;

    &.align-top {
      align-items: flex-start;
    }

    &.align-center {
      align-items: center;
    }

    &.align-bottom {
      align-items: flex-end;
    }
  }

  p {
    padding-bottom: 0;
  }

  h1 {
    margin-bottom: 0.5em;
    font-size: 2.827em;
  }

  .logo {
    display: block;
    width: 350px;
    margin: 0 auto;
    margin-bottom: 1em;
  }

  .headings {
    margin-bottom: 3em;
    grid-column: span 8;
  }

  &.height-min {
    height: 200px;
    overflow: hidden;
  }

  &.height-medium {
    height: 500px;
    overflow: hidden;
  }
}
