.masonry {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 100vh;
  align-items: flex-start;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: -4px;
  margin-right: -4px;
  width: 100%;

  .masonry-item {
    width: 33.3%;
    margin: 4px;

    img {
      display: block;
      max-width: 100%;
    }
  }
}
