@import 'article-title';
@import 'lead-image';
@import 'masonry';
@import 'quote';
@import 'section-title';
@import 'single-image';
@import 'text';
@import 'video';
@import 'page-title';
@import 'breadcrumbs';
@import 'navigation';
@import 'cards';
@import 'article-list';
@import 'pagination';
@import 'products';
@import 'single-product';
@import 'full-width-product';
@import 'full-page-product';
@import 'spotlight';
@import 'site-footer';
@import 'slider';

.lead-header {
  position: relative;
  padding: 4em 0 6em;
  text-align: center;
  background-color: #efefef;

  p { margin-bottom: 2.5em; }

  .hero {
    position: relative;
    z-index: 2;
  }

  .video-container {
    position: absolute;
    bottom: 0%;
    left: 0%;
    right: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 1;
  }

  video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
  }
}

.site-header-wrapper {
  background-color: #efefef;
}

.site-header {
  display: flex;
  padding: .5em 0;
  justify-content: space-between;

  .logo {
    position: relative;
    top: 6px;

    img { height: 40px; }
  }

  .lead-navigation {
    padding: 1em 0;

    a {
      display: inline-block;
      margin-right: 2em;
      text-decoration: none;
      font-weight: 500;

      &:last-child { margin-right: 0; }
    }
  }
}
