.partner-feed {
  h3 { margin-bottom: 0; }

  .meta {
    margin-bottom: $gutter;
    font-size: .85em;
  }

  .partner-logo {
    display: block;

    img {
      display: block;
      border: 1px solid #ddd;
    }
  }
}

