.site-footer {
  padding: 4em 0;
  font-size: 0.85em;
  text-align: center;

  .center-col {
    a {
      display: inline-block;
      text-decoration: none;
      margin-right: 2em;

      &:hover { text-decoration: underline; }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  @include bp($bp-desktop) {
    .footer-cols {
      display: flex;
      justify-content: space-between;
    }
  }
}
