.site-footer {
  padding: 4em 0;
  font-size: 0.85em;
  text-align: center;

  a {
    // color: $white;
  }

  .center-col {
    a {
      display: inline-block;
      margin-right: 1em;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  @include bp($bp-desktop) {
    .footer-cols {
      display: flex;
      justify-content: space-between;
    }
  }
}
